<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button type="button" class="button" value="temperature">temperature</button>
    <button type="button" class="button" value="humid">humid</button>
    <button type="button" class="button" value="shutter">shutter</button>
</body>
</html>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script>
    $('button').click(function(){
      console.log($(this).val());
      var menu = $(this).val();
      window.location.pathname = '/chat/' + menu + '/';
    })
</script>
